Repository TheCodeCompany-Sem/BMX-TEAMNL-IOT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

stages:
  - deploy

deploy_be:
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - heroku-deployment
        changes:
          - "bmx-app-backend/**/*"  
    script:
        - git remote rm bmx-nl-app-be-staging || true
        - git remote add bmx-nl-app-be-staging https://heroku:$HEROKU_API_KEY@git.heroku.com/bmx-nl-app-be-staging.git || true
        - git subtree split --prefix bmx-app-backend -b splitting-staging-be
        - git push --force bmx-nl-app-be-staging splitting-staging-be:master
        - git branch -D splitting-staging-be

deploy_fe:    
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - heroku-deployment
        changes:
          - "bmx-app/**/*"  
    script:
        - git remote rm heroku-fe-app || true
        - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/bmx-nl-app-staging.git || true
        - git subtree split --prefix bmx-app -b splitting-staging-fe
        - git push --force heroku-fe-app splitting-staging-fe:master
        - git branch -D splitting-staging-fe

pushed daily documentation
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
  docs/Daily-documentation.md
Due: none

removed useless title
  docs/Daily-documentation.md
Due: none

added picture of the 3D print
  docs/Daily-documentation.md
  docs/casing3Dprintfail.png
Due: none

fixed typos
  docs/Daily-documentation.md
Due: none

chagns
  .idea/workspace.xml
Due: none

changed java version
  bmx-app-backend/bmx-app-backend/pom.xml
  bmx-app-backend/bmx-app-backend/server.properties
Due: deploy_be

changes jet again
  .idea/compiler.xml
  .idea/misc.xml
  bmx-app-backend/bmx-app-backend/pom.xml
Due: deploy_be

finished testing plan
  docs/Testing-plan.md
Due: none

daily documentation
  docs/20220614_112032.jpg
  docs/Daily-documentation.md
Due: none

update for profilepage
  bmx-app/src/app/components/profile/profile.component.css
Due: deploy_fe

changed layout of arduino code
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

New models for mylaps system
  .idea/discord.xml
  .idea/vcs.xml
  bmx-app-backend/bmx-app-backend/pom.xml
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/controller/TransponderController.java
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/model/TrackTimeRecord.java
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/model/Transponder.java
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/repository/TransponderRepository.java
Due: deploy_be

added common issues to deploying
  docs/Web application/Deploy-Website.md
Due: none

added testing plan and daily documentation for 14-6-2022
  docs/Daily-documentation.md
  docs/Testing-plan.md
Due: none

test
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

change
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/model/TrackTimeRecord.java
  docs/.idea/misc.xml
  docs/.idea/runConfigurations.xml
  docs/.idea/workspace.xml
Due: deploy_be

turned everything into integers
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

More changes
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/model/TrackTimeRecord.java
Due: deploy_be

change for app.module
  bmx-app/src/app/app.component.html
Due: deploy_fe

fixed some typos and a lot of syntax errors
  docs/Daily-documentation.md
  docs/Web application/Deploy-Website.md
  docs/Web application/Web-Application.md
  docs/index.md
  docs/sensors.md
Due: none

finished weatherproofing documentation
  docs/weatherproofing.md
Due: none

variables turned back to float
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

updated daily documentation for 16-6-2022
  docs/Daily-documentation.md
Due: none

added more daily documentation
  docs/Daily-documentation.md
Due: none

fixed post request
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

daily documentation part 1
  docs/Daily-documentation.md
Due: none

daily doc fixed
  docs/Daily-documentation.md
  docs/Web application/Web-Application.md
Due: none

Update
  .DS_Store
  Sensor-demos/.DS_Store
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
  docs/Web application/Mini-manuals.md
Due: none

fixed more typos and grammar
  docs/Daily-documentation.md
  docs/Web application/Web-Application.md
  docs/sensors.md
Due: none

Added common issue
  docs/Web application/Web-Application.md
Due: none

added more documentation for 16-6-2022
  docs/Daily-documentation.md
Due: none

changes to homepage
  bmx-app/src/app/page/homepage/homepage.component.html
Due: deploy_fe

Update mini manual page place
  docs/Mini-manuals.md
Due: none

edited the readme
  README.md
Due: none

Updated the mini manual page
  docs/ESP8266-NodeMCU-HTTP-GET-HTTP-POST-with-Arduino-IDE-JSON-URL-Encoded-Text.jpeg
  docs/HTTP-GET-ESP8266-NodeMCU-Get-Sensor-Value-Plain-Text.png
  docs/Mini-manuals.md
Due: none

started on documentation for 20-6-2022
  docs/Daily-documentation.md
Due: none

added application diagram
  docs/application_diagram.png
Due: none

daily documentation 20/06
  docs/Daily-documentation.md
Due: none

documentation for 20-6
  docs/Daily-documentation.md
Due: none

small change to home/profile page
  bmx-app/src/app/page/homepage/homepage.component.html
  bmx-app/src/app/page/homepage/homepage.component.ts
Due: deploy_fe
