Repository TheCodeCompany-Sem/BMX-TEAMNL-IOT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-be
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/bmx-nl-app-be-staging.git || true
  - git subtree split --prefix bmx-app-backend -b splitting-be
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-fe
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/bmx-nl-app-staging.git || true
  - git subtree split --prefix bmx-app -b splitting-fe
  ...

changed frontend to test pipeline
  bmx-app/src/app/generic/navbar/navbar.component.html
Due: deploy_fe

bug
  bmx-app/src/environments/environment.staging.ts
Due: deploy_fe

another check for pipeline
  docs/test.md
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

changed git.yml file
  .gitlab-ci.yml
Due: none

Updated gitlab yml file
  .gitlab-ci.yml
Due: none

updated gityml file yet again
  .gitlab-ci.yml
Due: none

Updated daly documentation
  docs/Daily-documentation.md
  docs/Web application/Web-Application.md
Due: none

Fix for version mismatch error
  .idea/encodings.xml
  bmx-app-backend/bmx-app-backend/mvnw
  docs/.idea/discord.xml
  docs/.idea/misc.xml
  docs/.idea/workspace.xml
Due: deploy_be

added blank line to run pipeline
  bmx-app-backend/bmx-app-backend/src/test/java/com/example/bmxappbackend/BmxAppBackendApplicationTests.java
Due: deploy_be

added documentation for 4-6-2022
  docs/Daily-documentation.md
Due: none

reverted change to trigger error
  bmx-app-backend/bmx-app-backend/mvnw
Due: deploy_be

commit for the profilepage for the last couple of days
  bmx-app/src/app/app-routing.module.ts
  bmx-app/src/app/components/profile/profile.component.css
  bmx-app/src/app/components/profile/profile.component.html
  bmx-app/src/app/components/profile/profile.component.ts
  bmx-app/src/app/models/tracktimerecord.ts
  bmx-app/src/app/services/athlete.service.ts
  bmx-app/src/app/services/time.service.spec.ts
  bmx-app/src/app/services/time.service.ts
Due: deploy_fe

added daily documentation
  docs/Daily-documentation.md
Due: none

fixed merge
  docs/Daily-documentation.md
Due: none

added website deployment documentation page
  docs/Web application/Deploy-Website.md
Due: none

changed java version too 11 instead of 13
  .idea/misc.xml
Due: none

Supposed fix for java version error
  .idea/.gitignore
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/iot-bmx-team-nl.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/uiDesigner.xml
  .idea/workspace.xml
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/iot-bmx-team-nl/v16/.suo
  .vs/slnx.sqlite
Due: none

more changes
  .idea/workspace.xml
Due: none

e
  .idea/workspace.xml
Due: none

made the service for the profile page
  bmx-app/src/app/services/athlete.service.ts
  bmx-app/src/app/services/time.service.ts
Due: deploy_fe

update for the profile page
  bmx-app/src/app/components/profile/profile.component.ts
  bmx-app/src/app/models/tracktimerecord.ts
  bmx-app/src/app/services/time.service.ts
Due: deploy_fe

daily documentation
  docs/Daily-documentation.md
Due: none

The code to read all the sensors for the weather station
  .DS_Store
  Arduino-main/.DS_Store
  Arduino-main/Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

wifi + post request
  Arduino-main/Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

Changed tracktimerecord class
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/model/TrackTimeRecord.java
Due: deploy_be

Changes made to time.js and returned bug of the webapp
  bmx-app/src/app/components/profile/profile.component.html
  bmx-app/src/app/components/profile/profile.component.ts
  bmx-app/src/app/models/athlete.ts
  bmx-app/src/app/models/tracktimerecord.ts
  bmx-app/src/app/page/homepage/homepage.component.html
  bmx-app/src/app/services/athlete.service.ts
  bmx-app/tsconfig.json
Due: deploy_fe

Update daily documenten + add picutere wemos aansluitschema
  .DS_Store
  .idea/.gitignore
  .idea/iot-bmx-team-nl2.iml
  .idea/modules.xml
  .idea/vcs.xml
  Arduino-main/.DS_Store
  docs/Daily-documentation.md
  docs/Fritzing wemos.png
Due: none

Update sensor data
  docs/.DS_Store
  docs/sensors.md
Due: none

added daily documentation for 9-6-2022
  docs/Daily-documentation.md
  docs/middlePartCasing.png
  docs/topPartCasing.png
Due: none

updated code snippets
  docs/Daily-documentation.md
Due: none

a
  docs/Daily-documentation.md
Due: none

moved code
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

patched library issue
  Weahter_station_data___dht22/Weahter_station_data___dht22.ino
Due: none

added most parts of test plan
  docs/Testing-plan.md
Due: none

Bug is still there
  .idea/inspectionProfiles/Project_Default.xml
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/model/Athlete.java
  bmx-app/package-lock.json
  bmx-app/package.json
  bmx-app/src/app/components/profile/profile.component.ts
  bmx-app/src/app/models/athlete.ts
  bmx-app/src/app/models/trackTimeRecords.ts
  bmx-app/src/app/page/homepage/homepage.component.html
  bmx-app/src/app/page/homepage/homepage.component.ts
  bmx-app/src/app/services/athlete.service.ts
  bmx-app/src/app/services/time.service.ts
  bmx-app/tsconfig.json
Due: deploy_be, deploy_fe

Changed stuff to trigger pipeline
  .idea/misc.xml
  .idea/workspace.xml
  bmx-app-backend/bmx-app-backend/pom.xml
  bmx-app-backend/bmx-app-backend/server.properties
  bmx-app-backend/bmx-app-backend/src/main/java/com/example/bmxappbackend/model/TrackTimeRecord.java
Due: deploy_be

more changes
  .idea/compiler.xml
  .idea/workspace.xml
Due: none

Path conditions:
  deploy_be: any of: bmx-app-backend/**/*
  deploy_fe: any of: bmx-app/**/*
